.post
  +horizontal-padding(2)
  +vertical-padding(2)

  a
    text-decoration: none

.post--post
  @extend .post
  +horizontal-padding(2)
  +vertical-padding(0)

.post__inner
  text-align: center

.post__cover
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  +vertical-padding(6)
  transition: opacity .5s ease-in-out
  opacity: 1

  +at-breakpoint(lap)
    +vertical-padding(7)

  +at-breakpoint(desk)
    +vertical-padding(8)

  .no-touch .post:hover &
    opacity: .75

.post__cover--big
  @extend .post__cover
  +vertical-padding(9)

  +at-breakpoint(lap)
    +vertical-padding(12)

  +at-breakpoint(desk)
    +vertical-padding(17)

.post__cover--post
  @extend .post__cover--big

  .no-touch .post:hover &
    opacity: 1

.post__categories
  color: $light-grey
  text-transform: uppercase
  +padding-top(1)
  letter-spacing: 0.1rem
  font-weight: $heading-font-weight
  line-height: 2.0
  +font-size(epsilon)

.post__title
  font-family: $mega-font-family
  font-weight: $mega-font-weight
  +font-size(alpha)

  +at-breakpoint(desk)
    +font-size(mega)

.post__title[role="index"]
  +font-size(alpha)

.post__author
  font-family: $mega-font-family
  +font-size(delta)
  line-height: 1.5

  +at-breakpoint(desk)
    line-height: 1.0

.post__author[role="index"]
  line-height: 1.5

.post__text
  letter-spacing: .01em
  line-height: 1.6
  word-wrap: break-word
  outline: 0

.post__content
  @extend .post__text
  +vertical-padding(3)
  +font-size(gamma)
  width: 100%
  margin-left: auto
  margin-right: auto

  +at-breakpoint(desk)
    width: 75%

.post__divider
  +padding-top(3)

  &:before
    content: "..."

.post__excerpt
  @extend .post__text
  +margin-top(2)
  +font-size(delta)
  width: 100%

.post__excerpt--featured
  @extend .post__excerpt
  margin-left: auto
  margin-right: auto

  +at-breakpoint(desk)
    width: 75%
