.weekly-book
  @extend .post

  a
    text-decoration: none

.weekly-book__inner
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center

.weekly-book__cover
  @extend .shelf__33--big
  text-align: center

.weekly-book__content
  @extend .shelf__66--big
  text-align: center
