.weekly-book
  @extend .post

  +at-breakpoint(lap)
    transform: translateY(-22.5px)

  a
    text-decoration: none

.weekly-book__thumbnail
  display: none

  +at-breakpoint(lap)
    display: block
    text-align: center

    img
      transform: translateY(55px)

.weekly-book__inner
  background-color: $light-beige
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  +vertical-padding(3)

.weekly-book__cover
  @extend .shelf__33--big
  text-align: center

.weekly-book__content
  @extend .shelf__66--big
  text-align: center

.weekly-book__cover--padding
  +padding-left(5.5)
  +padding-right(5.5)

  +at-breakpoint(lap)
    +padding-left(2)
    +padding-right(2)

.weekly-book__meta
  +padding-left(1)
  +padding-right(1)
