---
title: La pagina del blog
---

.wrap
  .grid
    - blog.articles[11..-1].each do |article|
      = article.title

/- if paginate && num_pages > 1
  /p
    /| Page 
    /= page_number
    /| of 
    /= num_pages

/- if prev_page
  /p
   /= link_to 'Previous page', prev_page

/.wrap
  /.grid
    /- page_articles.each_with_index do |article, i|
      /.grid__item.width-12-12.lap-6-12.post.desk-4-12
        /.post
          /.post__inner
            /h3 = link_to article.title, article

/- if paginate
  /- if next_page
    /p
      /= link_to 'Next page', next_page
